extends base.pug

block content
    h4 Change Video title
    form(method="POST",action=`/videos/${video.id}/edit`)
        input(name="title",placeholer="Video Title",type="text",value=video.title,required)
        input(type="submit")